@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Nunito+Sans:wght@300&family=Roboto+Mono:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lato:wght@300;400&family=Nunito+Sans:wght@300&family=Roboto+Mono:wght@100;400&display=swap');

/* color palette: https://colorkit.co/palette/094463-507338-f5ba30-695048-d26804/ */
:root {
    --plBlue: #094463;
    --plBrown: #695048;
    --plYellow: #f5ba30;
    --plGreen: #507338;
    --plOrange: #d26804;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;

    background: var(--plBrown);
    box-shadow: rgba(0, 0, 0, 0.150) 4px 4px 4px 4px;
    z-index: 99;
}

header h1 {
    font-size: 2em;
    user-select: none;
    color: #fff;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    font-size: 1.1em;
    font-weight: 500;
    position: relative;
    transition: .5s;
}

nav a:hover {
    color: var(--plYellow);
}

nav a::after {
    position: absolute;
    left: 0;
    bottom: -6px;
    background: var(--plYellow);
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 5px;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .5s;
}

nav a:hover:after {
    transform-origin: center;
    transform: scaleX(1);
}

header button {
    width: 100px;
    height: 50px;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    outline: none;
    margin-left: 20px;
    border-radius: 6px;
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
    transition: .5s;
}

header button:hover {
    color: var(--plYellow);
    border: 2px solid var(--plYellow);
    background: var(--plBrown);
}